{% extends 'base.html' %}

{% block content %}
  <h1>Non-Warehouse Ingredients</h1>
  <a href="{% url 'recipes:non-wh-ingredient-create' recipe_pk=recipe.pk %}">Add Non-Warehouse Ingredient</a>
  <ul>
    {% for ingredient in object_list %}
      <li>
        <a href="{% url 'recipes:non-wh-ingredient-detail' recipe_pk=recipe.pk ingredient_pk=ingredient.pk %}">{{ ingredient.name }}</a>
        <a href="{% url 'recipes:non-wh-ingredient-update' recipe_pk=recipe.pk ingredient_pk=ingredient.pk %}">Edit</a>
        <form action="{% url 'recipes:non-wh-ingredient-delete' recipe_pk=recipe.pk ingredient_pk=ingredient.pk %}" method="POST" style="display: inline;">
          {% csrf_token %}
          <input type="submit" value="Delete">
        </form>
      </li>
    {% empty %}
      <li>No non-warehouse ingredients yet.</li>
    {% endfor %}
  </ul>
{% endblock %}
