{% extends 'base.html' %}
{% block content%}
<h1 class='text-center'>Nuevo Producto</h1>
<form class='text-center' method="post" style='padding-top:10rem;'>
    {% csrf_token %}
    <div class='row mb-1'>
      <div class='col' style='padding:0;'><a>Nombre &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</a>{{form.name}}</div>
      
    </div>
    <div class='row mb-1'>
      <div class='col' style='padding:0;'><a>Marca &nbsp; &nbsp; &nbsp; &nbsp;</a>{{form.brand}}</div>
      
    </div>
    <div class='row mb-1'>
      <div class='col' style='padding:0;'><a>Unidad Medida &nbsp; &nbsp; &nbsp; &nbsp;</a>{{form.measurement}}</div>
      
    </div>
    <br>
    <br>
    
    <button class='btn-success' type="submit">Crear Producto</button>
    
  </form>
{%endblock%}